[run]
source = app
omit =
    */tests/*
    */examples/*
    */CodeFormer/*
    */site-packages/*
    */__pycache__/*
    */venv/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
